/*html selectors */
@media only screen and (min-width: 501px) {
h1 {
    font-family: 'Audiowide', cursive;
    color: orchid;
    
}
footer {
    text-align: bottom;
}
nav { 
    font-family: 'Faster One', cursive;
   
}

ul {
    list-style: none;

}
 div
    {
     

    }

    /*Class selectors */


    .motto{
        font-family: 'Faster One', cursive;
        color: blue;
        font-size: 14pt;
        
    }

   

    li {
        float: left;
        margin: 10px;
        background-color: green;
        
    }
 /*Id selectors */

 #main-title {
     color: orange
 }

body {
background: url( http://i.imgur.com/CFjU41M.jpg);
        
    
	
}

header {
	
    text-align: center;
    background: url( http://i.imgur.com/CFjU41M.jpg)
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
   
}

.pres a { background-color: blue; }

p {
    margin 10px;
    max-width: 650px ;
}


    .forcast {
display: none
    
}

.menu {
    display: none;
}

.forcast {
    display: block;
}

table {
    text-align: center;
}

table, tr, td {
    border: solid 10px black
}

td {
    min-width: 50px
}

.currentdate {

}